__
CodigoProfesor
/AD02_LoadXML/nbproject/private/
/AD02_LoadXML/build/
/Test_Conexion/nbproject/private/
/Test_Conexion/build/
/Clase_23-02/nbproject/private/
/Clase_23-02/build/
/Clase_23_02/nbproject/private/
/Clase_23_02/build/
/2021_02_23_ejercicio clase-new/FromJSONtoMYSQL/build/
/2021_02_23_ejercicio clase-new/FromJSONtoMYSQL/dist/
/2021_02_23_ejercicio clase-new/FromJSONtoMYSQL/nbproject/private/
/AD03LoadBBDD/nbproject/private/
/AD03LoadBBDD/build/
/Clase_23_Feb/nbproject/private/
/Clase_23_Feb/build/